Package: multiflexi-abraflexi-pricefixer
Source: abraflexi-pricefixer
Version: 2.8
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 204
Depends: abraflexi-pricefixer, multiflexi
Section: web
Priority: optional
Homepage: https://github.com/VitexSoftware/AbraFlexi-pricefixer
Description: Add product price updater for AbraFlexi to MultiFlexi
 Bundle product price updater for AbraFlexi using MultiFlexi
